<a href="https://colab.research.google.com/github/Arjun-coder5/Pandas/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Pandas Start***
A series is a 1 - D labled Array capable of holding any data type . The axis lable are collectively called the index.

**import pandas**

In [ ]:
import pandas as pd
import numpy as np

# Series from List :

In [ ]:
# String
country = ['India','pak','USA','Nepal','ShriLanka']
pd.Series(country)

0        India
1          pak
2          USA
3        Nepal
4    ShriLanka
dtype: object

In [ ]:
# Integer :
runs = [13,12,24,56,78,100]
pd.Series(runs)

0     13
1     12
2     24
3     56
4     78
5    100
dtype: int64

In [ ]:
# Custom index :
marks = [45,34,23,45]
subject = ['maths','science','english','social']
pd.Series(marks,index= subject)

maths      45
science    34
english    23
social     45
dtype: int64

In [ ]:
# Setting a Name :
marks  =pd.Series(marks,index= subject , name  = "Marks")
marks

maths      45
science    34
english    23
social     45
Name: Marks, dtype: int64

# ***Series from Dict :***

In [ ]:
marks = {
    'maths' : 83,
    'english' :93,
    'Science' : 92
}

marks_series = pd.Series(marks,name = 'Marks')
marks_series

maths      83
english    93
Science    92
Name: Marks, dtype: int64

# ***Series Attributes :***

In [ ]:
# Size :
marks_series.size

3

In [ ]:
# dtype :
marks_series.dtype

dtype('int64')

In [ ]:
# name :
marks_series.name

'Marks'

In [ ]:
# is_unique :
# marks_series.is_unique
pd.Series([1,1,1,1]).is_unique

False

In [ ]:
# index :
marks_series.index

Index(['maths', 'english', 'Science'], dtype='object')

In [ ]:
# value :
marks_series.values

array([83, 93, 92])

# ***Series Using read_csv***

In [ ]:
# With one column
subs = pd.read_csv('/content/subs.csv').squeeze("columns")
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [ ]:
# With two column
vk = pd.read_csv('/content/kohli_ipl.csv',index_col='match_no').squeeze('columns')
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [ ]:
movies = pd.read_csv('/content/bollywood.csv',index_col="movie").squeeze('columns')
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

# ***Series Methods***

In [ ]:
# head and Tail :
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [ ]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [ ]:
vk.tail(7)

match_no
209    58
210    30
211     0
212    20
213    73
214    25
215     7
Name: runs, dtype: int64

In [ ]:
# Sample :
movies.sample()

movie
Ugly (film)    Rahul Bhat
Name: lead, dtype: object

In [ ]:
# value_counts -> movies
movies.value_counts()

lead
Akshay Kumar         48
Amitabh Bachchan     45
Ajay Devgn           38
Salman Khan          31
Sanjay Dutt          26
                     ..
Seema Azmi            1
Akanksha Puri         1
Charanpreet Insan     1
Jaideep Ahlawat       1
Monali Thakur         1
Name: count, Length: 566, dtype: int64

In [ ]:
#  sort_values -> inplace
vk.sort_values(ascending=False).head(1).values[0]

np.int64(113)

In [ ]:
# sort_index -> inplace -> movies
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

# ***Series Maths Methods***

In [ ]:
# Count
vk.count()

np.int64(215)

In [ ]:
# Sum -> product
subs.sum()

np.int64(49510)

In [ ]:
# mean -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(subs.var())

24.0
0    Akshay Kumar
Name: lead, dtype: object
62.67502303725269
3928.1585127201556

In [ ]:
# min/max :
subs.max()

396

In [ ]:
# describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

# ***DataFrame***

In [ ]:
import numpy as np
import pandas as pd

creating a DataFrame :

In [ ]:
data = {
    'Name': ['Alice','Anna','Peter','Linda'],
    'Location': ['New York','Paris','Berlin','London'],
    'Age': [24,24,52,43],
    'Salary': [50000,52000,60000,65000]
}
pd.DataFrame(data)

    Name  Location  Age  Salary
0  Alice  New York   24   50000
1   Anna     Paris   24   52000
2  Peter    Berlin   52   60000
3  Linda    London   43   65000

In [ ]:
data_list = [
    ['Alice','New York',24,50000],
    ['Anna','Paris',24,52000],
    ['Peter','Berlin', 52,60000],
    ['Linda','London',43,65000]
]
df = pd.DataFrame(data_list,columns=['Name','Location','Age','Salary'])
df

    Name  Location  Age  Salary
0  Alice  New York   24   50000
1   Anna     Paris   24   52000
2  Peter    Berlin   52   60000
3  Linda    London   43   65000

In [ ]:
df[["Name"]]

    Name
0  Alice
1   Anna
2  Peter
3  Linda

In [ ]:
df["Designation"] = ["Doctor","Engineer","Doc","Eng"]
df

    Name  Location  Age  Salary Designation
0  Alice  New York   24   50000      Doctor
1   Anna     Paris   24   52000    Engineer
2  Peter    Berlin   52   60000         Doc
3  Linda    London   43   65000         Eng

In [ ]:
df.drop("Designation",axis = 1,inline = True)

    Name  Location  Age  Salary
0  Alice  New York   24   50000
1   Anna     Paris   24   52000
2  Peter    Berlin   52   60000
3  Linda    London   43   65000

In [ ]:
df.loc[[0,1]]

    Name  Location  Age  Salary Designation
0  Alice  New York   24   50000      Doctor
1   Anna     Paris   24   52000    Engineer

In [ ]:
df.iloc[3]

Name            Linda
Location       London
Age                43
Salary          65000
Designation       Eng
Name: 3, dtype: object